@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/gilroy-bold');


@layer base {
  html {
    overflow: scroll;
    overflow-x: hidden;
    @apply scroll-smooth;
    font-family: 'Gilroy-Regular', sans-serif;
    background-color: #141414;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
}

body {
  overflow-x: hidden; 
}

.container-snap::-webkit-scrollbar {
  display: none;
}

.container-snap {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}




.animate-on-load {
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  transform: translateX(
    0
  ); /* Initial position for translation effect (no translation) */
}
.translate-down-fade {
  animation-name: translateDownFadeIn;
}
@keyframes translateDownFadeIn {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}